h1{
    background-color: rgb(255, 149, 62);
    margin: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70;
}
p{
    font-size: 50;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
button[type="button"] {
    background-color: rgb(255, 149, 62);
    color: white;
    padding: 10px 20px;
    font-size: 100;
    border: 80px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 40px;
}
button:hover {
    transform: scale(1.05); /* Slightly enlarge the button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
